body{
    background-color: #E3F2FD;
    font-family: 'Lucida Calligraphy';
}
.container{
    width: 30%;
    background-color: #64B5F6;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    border: none;
    border-radius: 20px;
    text-align: justify;
}
.container p{
    margin-left: 100px;
    font-size: 18px;
}